.upload {
  @include bp-min($desktop-width) {
    margin-bottom: 30px;
  }
}

.upload__title {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.15;
  text-align: center;

  @include bp-min($tablet-width) {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 1.67;
  }

  @include bp-min($desktop-width) {
    margin-bottom: 65px;
  }
}

.upload__wrapper {
  @include bp-min($desktop-width) {
    box-sizing: border-box;
    width: $desktop-width;
    padding: 0 20px;
    margin: 0 auto;
  }
}
